:root {
    --primary-color: #476B52;
    --accent1-color: #264653;
    /*--accent2-color: #e9c46a;*/
    /*--heading-font: "Times New Roman", "Georgia", serif;*/
    --body-font: Arial, Helvetica, sans-serif;
    /*--background-header-color: #A3A3A3;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    color: var(--accent2-color);
    margin: 1rem auto;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    width: 120px;
    height: auto;
    margin-left: 1rem;
}

header a {
    text-decoration: none;
    color: #00524F;
    font-size: 1.25rem;
    font-family: Acme, Arial, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.socialmedia a {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    max-width: 600px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: left;
    padding: 12px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    font-size: 13px;
    color: #fff;
}

.hero article img {
    float: right;
    width: 100px;
    box-shadow: 0 0 30px #666;
    border: 1px solid black;
    margin: 20px;
}

section {
    max-width: 800px;
    margin: 1rem auto;
}

.box {
    margin: 0 0;
}

h2 {
    font-size: 1.5rem;
    background-color: var(--accent1-color);
    padding: 5px;
    text-align: center;
    color: #fff;
    margin: 0 0;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    gap: 20px;
}

.history-content img {
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.gallery img {
    width: 120px;
}

.gallery figure {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dotted black;
}

footer p {
    font-size: 0.9rem;
    margin: 0;
}

footer img {
    width: 30px;
}