* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

main {
    max-width: 500px;
    background-color: #555;
    color: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
}

form {
    background-color: #ddd;
    color: #111;
}

input,
textarea,
select {
    padding: .75rem;
    min-width: 350px;
}

code {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;

}