* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.9rem;
    color: navy;
    text-align: center;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}